input.ng-invalid {border: 1px solid red;} 
input.ng-valid {border: 1px solid green;}
select.ng-invalid {border: 1px solid red;} 
select.ng-valid {border: 1px solid green;}
.small-alert {
    margin-top: 3px;
    padding: 2px 2px 2px 10px;
    margin-bottom: 8px;
    font-size: 15px;    
}
.sign-up-btn {
    float: left;
}