.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #e0e0e0;
}
.header-text a {
  color: #000;
}

.head-sign-in-div {
  position: relative;
  }
.head-sign-in-div a {
  color: #000;
  float: right;
  margin-top: 60px;
  padding: 10px;
}

.center-vertically h1 {
  margin: 20px 0px 20px 0px;
  padding: 10px 0;
}

.home-user-img-box{
  min-height: 220px;
  min-width: 220px;
  max-height: 220px;
  max-width: 220px;    
}

.user-name-city-div h1{
  margin: 20px 0px 0px 0px;
  padding: 0;
}

.user-email-phone-div p{
  float: right;
  margin: 0px 10px 10px 0px;
}

.user-about-div p{
  margin: 20px 10px 10px 0px;
}

.profile-painting-head-div h2 span {
  border: 1px solid grey;
  border-radius: 1px;
  padding: 6px;
}

.profile-painting-head-div{
  margin: 0px 0px 50px 50px;
}

.painting-figure{
  margin-bottom: 16px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  min-width: 223px;
  text-transform: none;

}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.header-text div article {
  margin-bottom: 0px;
}

.upload-painting-div div span{
  float: right;
}

.upload-painting-div div{
  margin: 0px 0px 10px 0px;
}

.mark-public-checkbox-input {
  margin-left: 10px;
}

.profile-body{
  position: relative;
  left: 0;
}

.center{
  position: absolute;
  z-index: 1;
  margin: auto;
}